<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Position Example</title>
<style>
    .relative-container {
        position: relative;
        width: 300px;
        height: 200px;
        background-color: lightgray;
    }

    .absolute-box {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 100px;
        height: 100px;
        background-color: red;
    }

    .relative-box {
        position: relative;
        top: 20px;
        left: 20px;
        width: 100px;
        height: 100px;
        background-color: blue;
    }
</style>
</head>
<body>

<div class="relative-container">
    <div class="absolute-box">Absolute Positioned</div>
    <div class="relative-box">Relative Positioned</div>
</div>


<li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'web007:dashboard' project_id=request.tracer.project.id %}">概览</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web007:issues' project_id=request.tracer.project.id %}">问题</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web007:statistics' project_id=request.tracer.project.id %}">统计</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web007:file' project_id=request.tracer.project.id %}">文件</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web007:wiki' project_id=request.tracer.project.id %}">wiki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web007:setting' project_id=request.tracer.project.id %}">设置</a>
                </li>
</body>
</html>

